table {
    width: 100%;
    border:1px solid #3a6070;
    border-collapse: collapse;
}
table th {
     text-align: left;
     background-color: #3a6070;
     color: #FFF;
     padding: 4px 30px 4px 8px;
     border: 1px solid #FFF;
}
table td {
    border:1px solid #3a6070;
    padding: 4px 8px;
}

table tr {
    background-color: #e7edf0;
}
    
